<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<script>
     const userId = "<%= id %>";
     const username = "<%= username %>";
</script>


<%- include('partials/chatAgents') %>

<div class="back-container">
    <span class="go-back" onclick="goBack()">←</span>
</div>

<div class="chat-window">
    <div class ="chat-header">
        <div class="chat-title"></div>
        <p class = "chat-background">Hi! Good to see you here.</p>
    </div>
    <div class="chat-messages" id="chat-messages"></div>
    <div class="chat-input">
    <input type="text" id="message-input" placeholder="Type your message...">
    <button onclick="sendMessage()">Send</button>
    </div>
</div>

<script>
    function goBack() {
        window.history.back(); // Redirect to /home
    }
</script>


<script src="js/jquery-3.7.1.min.js"></script>
<script type = "text/javascript" src ="js/mainChat.js"></script>

</body>
</html>